.alert-danger {
    color: #ffffff;
    background-color: #bebebe;
    border-color: #BCE8F1;
}

.alert-danger b {
    letter-spacing: 3px;
    font-family: 'Exo', sans-serif;
    font-weight: 100;
    padding-right: 10%;
}

#page-wrapper{
    min-height: 90vh;
}

#fond{
    position: absolute;
    top: 0px;
    left: -10px;
    right: -10px;
    bottom: 0px;
    width: auto;
    height: auto;
    background-image: url(http://img0.gtsstatic.com/wallpapers/df7d09ed27c7599e80998378d97fa332_large.jpeg);
    background-size: cover;
    z-index: 0;
}

.customForm {
    padding-left: 3%;
}