.alert-danger {
    color: #ffffff;
    background-color: #bebebe;
    border-color: #BCE8F1;
}

.alert-danger b {
    letter-spacing: 3px;
    font-family: 'Exo', sans-serif;
    font-weight: 100;
    padding-right: 10%;
}

#page-wrapper{
    min-height: 90vh;
}

#tabProjet thead{
    background-color: grey;
    opacity: 0.8;
}

#tabProjet tbody{
    background-color: white;
    opacity: 0.8;
}

#fond{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: auto;
    background: url(http://img0.gtsstatic.com/wallpapers/df7d09ed27c7599e80998378d97fa332_large.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.customForm {
    padding-left: 3%;
}